.valleForm {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
}

/* ------- Header ------- */

.valleForm__switch {
  margin-left: auto;
}

/* ------- Tabs ------- */

.valleForm__tabs__titles {
  width: 100%;
  border-bottom: 2px solid rgba(0,0,0,.12);
  margin: 8px 4px 0 4px;
  display: flex;
  overflow-x: auto;
}

.valleForm__tabs__title {
  color: rgba(70, 70, 70, 0.54);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid rgba(0,0,0,.12);
  border-bottom-width: 2px;
  background-color: #efefef;
  margin: 0 6px -2px 0;
  position: relative;
  white-space: nowrap;
}

.valleForm__tabs__title:hover {
  cursor: pointer;
  color: var(--highlight-color, rgb(5, 159, 183)); 
}

.valleForm__tabs__title:focus {
  outline: none;
}

.valleForm__tabs__title--selected {
  background-color: #fff;
  color: var(--highlight-color, rgb(5, 159, 183));
  border-bottom-color: #fff;
}

.valleForm__tabs__title--selected:hover {
  cursor: default;
}

/* .valleForm__tabs__badge {
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: rgba(255, 56, 56, 0.787);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #fff;
} */

.valleForm__tabs__tab {
  display: block;
  width: 100%;
  display: none;
}

.valleForm__tabs__tab--visible {
  display: block;
}

/* ------- Main ------- */

.valleForm__row {
  display: flex;
  width: 100%;
  min-height: 87px; /* For fix issue #15 in desktop devices */
}

@media screen and (max-width: 600px) {
  .valleForm__row {
    flex-wrap: wrap;
    height: auto;
  }
}

.valleForm__input__container {
  width: calc(100% - 10px);
  min-width: 0;
  margin: 0 5px;
  position: relative;
}

.valleForm__input {
  width: 100%;
  margin: 0;
  padding: 0;
  border-width: 0;
}

.valleForm__input--small {
  max-width: 300px;
}

.valleForm__input--description {
  min-width: calc(50% - 10px);
}

.valleForm__input__button {
  border: 0;
  background: #fff;
  position: absolute;
  right: 0px;
  top: 44px;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  transition: background .3s;
}

.valleForm__input__button:hover {
  cursor: pointer;
}

.valleForm__input__button--disabled:hover {
  cursor: no-drop;
}

.valleForm__input__button:focus {
  background: #ecebeb;
  outline: none;
}

.valleForm__input__button:active {
  background: #c8c8c8;
}

.valleForm__input__button--disabled:active{
  background: #fff;
}

.valleForm__input__icon {
  width: 14px;
  fill: rgba(0, 0, 0, .38);
}

.valleForm__input__button:hover .valleForm__input__icon {
  fill: var(--valle-input-color, rgba(5, 159, 183, .87));
}

.valleForm__input__button--disabled:hover .valleForm__input__icon {
  fill: rgba(0, 0, 0, .38);
}

.valleForm__select {
  width: calc(100% - 10px);
  margin: 0 5px;
  max-width: 400px;
}

@media screen and (max-width: 600px) {
  .valleForm-select {
    max-width: 100%;
  }
}

.valleForm__select--big {
  display: block;
  min-width: 100%;
  max-width: 100%;
}

.valleForm__textarea {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: calc(100% - 10px);
  min-width: 0;
  margin: 0 5px;
  padding: 0;
}

.valleForm__textarea__input {
  border: 0;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(0, 0, 0, .87);
  color: rgba(0, 0, 0, .87);
  display: block;
  font-size: 16px;
  margin-top: calc(29px);
  outline: 0;
  padding: 0;
  padding-top: 8px;
  width: 100%;
  height: 90px;
}

.valleForm__textarea__input:focus {
  border-color: var(--valle-input-color, rgb(5, 159, 183));
}

.valleForm__textarea__label {
  color: rgba(0, 0, 0, .54);
  display: block;
  font-size: 12px;
  left: 0;
  padding-top: 16px;
  position: absolute;
  top: 0;
}

.valleForm__textarea__input:focus + .valleForm__textarea__label {
  color: var(--valle-input-color, rgba(5, 159, 183, .87));
}

.valleForm__textarea__description {
  color: rgba(0, 0, 0, .54);
  display: block;
  font-size: 12px;
  padding-top: 8px;
}

.valleForm__textarea--disabled .valleForm__textarea__label {
  color: rgba(0, 0, 0, .38);
}

.valleForm__textarea--disabled .valleForm__textarea__input {
  background-color: initial;
  border-bottom: 2px solid rgba(0, 0, 0, .38);
  color: rgba(0, 0, 0, .38);
  cursor: no-drop;
}

.valleForm__textarea--error .valleForm__textarea__description,
.valleForm__textarea--error .valleForm__textarea__label,
.valleForm__textarea--error .valleForm__textarea__input:focus + .valleForm__textarea__label {
  color: rgba(255, 0, 0, .87);
}

.valleForm__textarea--error .valleForm__textarea__input {
  border-color: rgb(255, 0, 0);
}

/* ------- Footer ------- */

.valleForm__sub {
  margin-top: 32px;
  margin-right: auto;
  font-size: 12px;
  color: rgb(80, 177, 186);
}

.valleForm__speedDial {
  margin-top: 16px;
  margin-left: auto;
  font-size: 14px;
}

.valleForm__speedDial__actions {
  text-align: right;
}

.valleForm__speedDial__save {
  --valle-speed-dial-action-fab-color: #7bcc02;
  white-space: nowrap;
}

.valleForm__speedDial__edit {
  --valle-speed-dial-action-fab-color: #ff6a00;
  white-space: nowrap;
}

.valleForm__speedDial__delete {
  --valle-speed-dial-action-fab-color: #ff0043;
  white-space: nowrap;
}

.valleForm__speedDial__cancel {
  --valle-speed-dial-action-fab-color: #4c4c48;
  white-space: nowrap;
}

.valleForm__speedDial__new {
  --valle-speed-dial-action-fab-color: #7cc705;
  white-space: nowrap;
}

.valleForm__snackbar {
  --width: 568px;
  align-items: center;
  background: #323232;
  border-radius: 2px;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  display: none;
  font-size: 14px;
  height: 48px;
  left: calc(50% - calc(var(--width) / 2));
  max-width: var(--width);
  padding: 0 24px;
  position: fixed;
  transform: translateY(48px);
  width: 100%;
  z-index: 999;
}

@media screen and (max-width: 600px) {
  .valleForm__snackbar {
    --width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .valleForm__snackbar {
    --width: 250px;
  }
}

.valleForm__snackbar--open {
  animation: show 5s;
  display: flex;
}

.valleForm__snackbar__icon {
  margin-right: 12px;
}

@keyframes show {
  0%  { transform: translateY(48px); }
  20% { transform: translateY(0); }
  80% { transform: translateY(0); }
  100% { transform: translateY(48px); display: none; }
}

.valleForm__switch {
  display: block;
}

.valleForm__switch__label {
  margin: 0 10px;
  font-size: 14px;
  font-family: sans-serif;
  color: var(--valle-label-switch-color, #666666);
}

.valleForm__switch__input {
  display: none;
}

.valleForm__switch--disabled .valleForm__switch__label {
  color: rgba(0, 0, 0, .38);
}

.valleForm__switch__toggle {
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  width: 36px;
  height: 12px;
  background-color: var(--valle-switch-background, #dddddd);
  border-radius: 30px;
  transition: background-color .4s;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.valleForm__switch--disabled .valleForm__switch__toggle {
  cursor: no-drop;
  --valle-switch-background: #eae9e9;
}

.valleForm__switch__toggle::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--valle-switch-toggle, #81898a);
  border-radius: 50%;
  transition: transform .4s, background-color .4s;
}

.valleForm__switch--disabled .valleForm__switch__toggle::after {
  --valle-switch-toggle: #d2d2d2;
}

.valleForm__switch__input:checked + .valleForm__switch__toggle {
  background-color: var(--valle-switch-background-checked, #cbefd8);
}

.valleForm__switch__input:checked + .valleForm__switch__toggle::after {
  transform: translateX(16px);
  background-color: var(--valle-switch-toggle-checked, #62aeb3);
}