html, body, #root {
  height: 100%;
}

.play {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  --footer-height: 80px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-image:linear-gradient(135deg, #10a4af, #b285f9);
}

.play__input {
  width: 100%;
  max-width: 400px;
  height: calc(100% - var(--footer-height) - 40px);
  box-sizing: border-box;
}

.input__title {
  height: 40px;
  font-size: 14px;
  width: 100%;
  background: #1f1f1f;
  padding-left: 8px;
  padding-right: 8px;
  color: #ccc;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input__field {
  width: 100%;
  height: 100%;
  resize: none;
  box-sizing: border-box;
  background: #2d2d2d;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px;
}

.play__output {
  height: calc(100% - var(--footer-height));
  flex: 1;
  box-sizing: border-box;
  padding: 8px;
}

.body {
  background: #fff;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 16px;
}

.play__footer {
  background: #1f1f1f;
  height: var(--footer-height);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 16px;
}

.play__footer__left {
  display: flex;
  align-items: center;
  width: 50%;
}

.info {
  color: #ccc;
  margin: auto 16px;
}

.info__text {
  display: block;
}

.play__footer__right {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

.btn {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  padding: 10px;
  color: #fff;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  background-color: #05943f;
}

.btn:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.1));
}

.btn:active {
  background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.1));
}

/* .btn:focus {
  outline: none;
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.1));
} */

.btn--inactive {
  color: #676767;
  background: #e1e1e1;
  opacity: .7;
}

.btn--small {
  padding: 5px;
  font-size: 12px;
}

.btn--inactive:hover {
  cursor: auto;
  background-image: none;
}

.btn--inactive:active {
  background-image: none;
}

.btn--inactive .btn__icon {
  fill: #676767;
}

.btn__icon {
  width: 15px;
  vertical-align: middle;
  fill: #fff;
}

.btn__icon--left {
  margin-right: 5px;
}

.btn__icon--right {
  margin-left: 5px;
}